
    <div class="header_fixed">
 <button  class="addbutton" [routerLink]="['/create-user']" routerLinkActive="router-link-active" >Add User</button>
        <table>
            <thead>
                <tr>
                    <th>S No.</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Department</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
             
            
                <tr>
                    <td>1</td>
                    <td>Monti</td>
                    <td>Monti@gmail.com</td>
                    <td>Engineering</td>
                    <td><button>View</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;<button>Edit</button>

                    &nbsp;&nbsp;&nbsp;&nbsp;<button>Delete</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;<button>Download</button></td>
                </tr>
              
            </tbody>
        </table>
    </div>
