.multiselect {
    display: inline-block;
    font-family: Arial, sans-serif;
  }
  
  .selected-items {
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    padding: 3px;
    min-width: 200px;
    /* max-width: 300px; */
    cursor: pointer;
  }
  
  .selected-items span {
    /* background-color: #007bff; */
    color: black;
    /* border: 1px solid #0056b3; */
    border-radius: 2px;
    padding: 2px 5px;
    margin: 2px;
    display: flex;
    align-items: center;
  }
  
  .dropdown-list {
    position: relative;
    cursor: pointer;
  }
  
  ul {
    list-style: none;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
  
  }
  
  li {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  li:hover {
    background-color: #f0f0f0;
  }
  
  input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .clear-icon {
    float : right;
  }
  